.hero {
    padding-top: 80px;
    padding-bottom: 50px;
}

.hero__container {
    /*  */
}

.hero__content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;

    align-items: center;
}

.hero__title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.4;
    color: var(--grayscale-black);
    margin-bottom: 36px;
}

.hero__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    color: var(--grayscale-black);
    margin-bottom: 86px;
    max-width: 582px;
}

.hero__img-wrap {}