.section__about {
    padding-top: 80px;
    padding-bottom: 80px;
}



.header-about {
    margin-bottom: 60px;
}

.content-about {
    display: flex;
    align-items: center;
    gap: 90px;
}

.content-about__image {
    width: 100%;
}

.content-about__image img {
    max-width: 100%;
    height: auto;
}

.content-about__wrap {
    max-width: 230px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.content-about__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: var(--grayscale-10);
}

.content-about__btn {
    display: block;
    padding: 14px 32px;
    width: 145px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    color: var(--grayscale-white);
    background: var(--primary-blue-100);
    transition: all 0.3s ease 0s;
}

.content-about__btn:hover {
    border: 1px solid black;
        background: #fff;
        color: var(--grayscale-50);
        border-radius: 3px;
}

@media (max-width: 990.98px) {
    .content-about {
        display: block;
    }

    .content-about__image {
        margin-bottom: 40px;
    }

    .content-about__wrap {
        max-width: 100%;
    }

    .content-about__btn {
        width: 100%;
        text-align: center;
    }
}