<section class="hero">
    <div class="hero__container">
        <div class="hero__content">
            <h1 class="hero__title">
                About
            </h1>
            <p class="hero__text">It is a long established fact that a reader will be distracted by the readable content
                of a page when looking at its layout.</p>
            <div class="hero__img-wrap">
                <img src="img/about-page/hero/about-hero.jpg" alt="">
            </div>
        </div>
    </div>
</section>