<section class="achievement">
    <div class="achievement__container">
        <div class="header-seaction__block">
            <p class="header-seaction__text">ACHIEVEMENT</p>
            <span class="header-seaction__line"></span>
        </div>

        <h2 class="achievement__title">interior customization with Danaanz, best quality with professional workers
        </h2>
        <div class="achievement__content content-achievement">
            <div class="content-achievement__image-box">
                <img src="img/about-page/achievement.jpg" alt="">
            </div>
            <div class="content-achievement__info info-achievement">
                <ul class="info-achievement__list">
                    <li class="info-achievement__item">
                        <h3>350+</h3>
                        <p>Project Completed</p>
                    </li>
                    <li class="info-achievement__item">
                        <h3>23+</h3>
                        <p>Professional Teams</p>
                    </li>
                    <li class="info-achievement__item">
                        <h3>15+</h3>
                        <p>Years Experience</p>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>