<footer class="footer">
<div class="footer-top top-footer">
    <div class="top-footer__container">

        <div class="top-footer__content">

            <h2 class="top-footer__title">let's discuss making your interior like a dream place!</h2>

            <div class="top-footer__block">
                <p class="top-footer__text">Contact us below to work together to build your amazing interior</p>
                <button class="top-footer__btn">Contact US</button>
            </div>

        </div>
    </div>
</div>


<div class="footer-bottom bottom-footer">
    <div class="bottom-footer__container">

        <div class="bottom-footer__content ">
            <div class="bottom-footer__left">
                <a href="" class="bottom-footer__logo">
                    <img src="img/logo.svg" alt="logo">
                </a>
                <h2 class="bottom-footer__title">One of the best furniture agency.</h2>
            </div>

            <div class="bottom-footer__right">

                <p class="bottom-footer__text">Enter your email to get the latest news</p>

                <form class="bottom-footer__form form-footer">
                    <input type="email" placeholder="Email Address" class="form-footer__input" />
                    <button class="form-footer__button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-arrow-right" viewBox="0 0 24 24">
                            <line x1="5" y1="12" x2="19" y2="12" />
                            <polyline points="12 5 19 12 12 19" />
                        </svg>

                    </button>
                </form>

                <div class="bottom-footer__soc soc-footer">

                    <p>Follow us On</p>
                    <div class="soc-footer__icons">
                        <a href="https://facebook.com" class="soc-footer__icon"><img src="img/icons/facebook.svg"
                                alt="Facebook"></a>
                        <a href="https://www.instagram.com/" class="soc-footer__icon"><img
                                src="../img/icons/instagram.svg" alt="Instagram"></a>
                        <a href="https://www.tiktok.com/" class="soc-footer__icon"><img src="img/icons/tiktok.svg"
                                alt="TikTok"></a>
                        <a href="https://www.youtube.com/" class="soc-footer__icon"><img src="img/icons/youtube.svg"
                                alt="YouTube"></a>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
</footer>