<section class="section__about about">
    <div class="about__container">

        <div class="about__header header-about">

            <div class="header-seaction__block">
                <p class="header-seaction__text">ABOUT</p>
                <span class="header-seaction__line"></span>
            </div>
            <h2 class="header-about__title section-title">“We're one of the best furniture agency. Prioritizing
                customers and making
                purchases easy are the hallmarks of our agency.”</h2>
        </div>

        <div class="about__content content-about">
            <div class="content-about__image">
                <img src="../img/about/about.jpg" alt="about">
            </div>
            <div class="content-about__wrap">
                <p class="content-about__text">
                    Online learning with us does not interfere with your daily life. because learning can be done
                    anytime and anywhere.
                </p>
                <a href="" class="content-about__btn">Learn More</a>
            </div>
        </div>

    </div>
</section>