<section class="section__products products">
    <div class="products__container">

        <div class="header-seaction__block">
            <p class="header-seaction__text">PRODUCTS</p>
            <span class="header-seaction__line"></span>
        </div>

        <div class="products__title-block title-block">
            <div class="title-block__top">
                <h2 class="title-block__title">Choose your product themes.</h2>
            </div>
            <div class="title-block__bottom">
                <p class="title-block__text">Find the theme you want. If our choice of theme is not what you want,
                    you can customize it as you want.</p>
            </div>
        </div>

        <div class="products__content content-products">
            <ul class="content-products__list list-products">
                <li class="list-products__item">
                    <span class="list-products__number">01</span>
                    <div class="list-products__text-block">
                        <h3 class="list-products__title">Vintage</h3>
                        <p class="list-products__text">the use of simple and limited elements to get the best effect
                            or
                            impression.</p>
                    </div>
                    <a href="" class="list-products__link">
                        <img src="../img/icons/arrow-right.svg" alt="arrow-right">
                    </a>
                </li>
                <li class="list-products__item">
                    <span class="list-products__number">02</span>
                    <div class="list-products__text-block">
                        <h3 class="list-products__title">Minimalist</h3>
                        <p class="list-products__text">the use of simple and limited elements to get the best effect
                            or
                            impression.</p>
                    </div>
                    <a href="" class="list-products__link">
                        <img src="../img/icons/arrow-right.svg" alt="arrow-right">
                    </a>
                </li>
                <li class="list-products__item">
                    <span class="list-products__number">03</span>
                    <div class="list-products__text-block">
                        <h3 class="list-products__title">Modern</h3>
                        <p class="list-products__text">the use of simple and limited elements to get the best effect
                            or
                            impression.</p>
                    </div>
                    <a href="" class="list-products__link">
                        <img src="../img/icons/arrow-right.svg" alt="arrow-right">
                    </a>
                </li>
                <li class="list-products__item">
                    <span class="list-products__number">04</span>
                    <div class="list-products__text-block">
                        <h3 class="list-products__title">Traditional</h3>
                        <p class="list-products__text">the use of simple and limited elements to get the best effect
                            or
                            impression.</p>
                    </div>
                    <a href="" class="list-products__link">
                        <img src="../img/icons/arrow-right.svg" alt="arrow-right">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>