<section class="section__material material">
    <div class="material__container">

        <div class="header-seaction__block">
            <p class="header-seaction__text">Material</p>
            <span class="header-seaction__line"></span>
        </div>

        <div class="material__title-wrap">
            <div class="material__title-top">
                <h2 class="material__title">Choice of materials for quality furniture.</h2>
            </div>
            <div class="material__title-bottom">
                <p class="material__title-text">
                    You can custom the material as desired. And our furniture uses the best materials and selected
                    quality materials.
                </p>
            </div>
            <a href="" class="material__link">See materials</a>
        </div>

        <div class="material__grid grid-material">
            <div class="grid-material__item large">
                <img src="../img/material/1.jpg" alt="Image 1">
            </div>
            <div class="grid-material__item">
                <img src="../img/material/2.jpg" alt="Image 2">
            </div>
            <div class="grid-material__item small">
                <img src="../img/material/3.jpg" alt="Image 3">
            </div>
        </div>

    </div>
</section>