<section class="section__main main-block">
    <div class="main-block__container">
        <div class="body-main__line"></div>
        <div class="main-block__body body-main__content">

            <div class="body-main__text-block">
                <h1 class="body-main__title">Design your interor with high quality.</h1>
            </div>
            <div class="body-main__copyright">
                <p>2022</p>
                <p>ALL RIGHT RESERVED</p>
            </div>

            <div class="body-main__image">
                <img src="img/main-block/kitchen-main.jpg" alt="Kitchen Interior">
            </div>
            <div class="body-main__info info-main">
                <ul class="info-main__list">
                    <li class="info-main__item">
                        <h2>350+</h2>
                        <p>Project Completed</p>
                    </li>
                    <li class="info-main__item">
                        <h2>23+</h2>
                        <p>Professional Teams</p>
                    </li>
                    <li class="info-main__item">
                        <h2>15+</h2>
                        <p>Years Experience</p>
                    </li>
                </ul>
            </div>


        </div>
    </div>

</section>