
html,
body {
    height: 100%;
}

body {
    font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 16px;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.page {
    flex: 1 1 auto;
}

.header-seaction__block {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.header-seaction__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--grayscale-black);
    padding-right: 15px;
}

.header-seaction__line {

    display: block;
    flex-grow: 1;
    height: 2px;
    background-color: black;
    max-width: 530px;
}

.page-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.4;
    color: var(--grayscale-black);
}

.section-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.7;
    color: var(--grayscale-50);
}
/* всі класи з приставкою __container  */

[class*="__container"] {
    max-width: 1200px;
    margin: 0 auto;

}

@media (max-width: 1199.98px) {
    [class*="__container"] {
        max-width: 970px;
    }
}

@media (max-width: 990.98px) {
    [class*="__container"] {
        max-width: 750px;
    }
}

@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: none;
        padding: 0px 15px;
    }

}