<section class="section__services services">
    <div class="services__container">
        <div class="services__header">
            <div class="header-seaction__block">
                <p class="header-seaction__text">SERVICES</p>
                <span class="header-seaction__line"></span>
            </div>
            <h2 class="services__title section-title">attractive furniture with the best quality.</h2>
        </div>

        <div class="services__content content-services">
            <div class="content-services__text">
                <p>Customize your interior design into a dream place with the best designers and quality furniture. We
                    try our
                    best to fulfill your expectations.</p>
            </div>

            <ul class="content-services__list list-services">
                <li class="list-services__item">
                    <span class="list-services__number">01</span>
                    <span class="list-services__name">Interior Design</span>
                    <span class="list-services__arrow">
                        <a href="" class="list-services__link">
                            <img src="img/icons/arrow-right.svg" alt="arrow-right">
                        </a>
                    </span>
                </li>
                <li class="list-services__item">
                    <span class="list-services__number">02</span>
                    <span class="list-services__name">Consultant</span>
                    <span class="list-services__arrow">
                        <a href="" class="list-services__link">
                            <img src="img/icons/arrow-right.svg" alt="arrow-right">
                        </a>
                    </span>
                </li>
                <li class="list-services__item">
                    <span class="list-services__number">03</span>
                    <span class="list-services__name">Construction Consultant</span>
                    <span class="list-services__arrow">
                        <a href="" class="list-services__link">
                            <img src="img/icons/arrow-right.svg" alt="arrow-right">
                        </a>
                    </span>
                </li>

            </ul>
            <div class="content-services__image">
                <img src="img/services/services_main.jpg" alt="services">
            </div>
        </div>


    </div>
</section>